<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
    <BirthQualityLifespanFix_LifespanFactorAffectsPeak>Eluea tegur mõjutab tippsünnikvaliteedi perioodi</BirthQualityLifespanFix_LifespanFactorAffectsPeak>
    <BirthQualityLifespanFix_LifespanFactorAffectsPeakDesc>Eluea tegurit mõjutavad geenid vähendavad või laiendavad proportsionaalselt tippsünnikvaliteedi vanusevahemikku. Nt Kerge Rakuebastabiilsus (×80% eluiga) vähendab vahemikku 20-30-lt 20-28-le, samas kui ×120% eluea geen laiendaks seda 20-32-le.</BirthQualityLifespanFix_LifespanFactorAffectsPeakDesc>
    <BirthQualityLifespanFix_PreventShortLifespanPenalty>Väldi lühikese eluea karistust</BirthQualityLifespanFix_PreventShortLifespanPenalty>
    <BirthQualityLifespanFix_PreventShortLifespanPenaltyDesc>Kui lubatud, säilitavad lühema elueaga rassid kui inimesed (80 aastat) vähemalt täieliku 10-aastase ekvivalentse tippsünnikvaliteedi perioodi, selle asemel et proportsionaalselt väheneda.</BirthQualityLifespanFix_PreventShortLifespanPenaltyDesc>
    <BirthQualityLifespanFix_AgelessAtPeakBirthQuality>Vananematusega tippkvaliteedil</BirthQualityLifespanFix_AgelessAtPeakBirthQuality>
    <BirthQualityLifespanFix_AgelessAtPeakBirthQualityDesc>Kui lubatud, saavad Vananematusegeeniga (või sarnaste geenidega, mis peatavad vananemise täielikult) tegelased, kes on ületanud tippkvaliteedi perioodi, alati täieliku sünnikvaliteedi boonuse.</BirthQualityLifespanFix_AgelessAtPeakBirthQualityDesc>
</LanguageData>